@tailwind base;
@tailwind components;
@tailwind utilities;

$waterFColor: #4d6de3;
$waterBColor: #c7eeff;

body {
	--uv-glow-opacity: 1;
	background-color: #0e101f;
	margin: 0;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	/* font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.icon-class {
	background-color: transparent;
}
.mapboxgl-popup-close-button {
	@apply mr-1 mt-1 h-5 w-5 rounded;
}
.mapboxgl-popup-close-button:hover {
	@apply bg-red-600/10;
}

.mapboxgl-popup-close-button {
	@apply text-red-600;
}
.mapboxgl-popup-tip {
	@apply border-y-base #{!important};
}

.mapboxgl-popup-content {
	@apply rounded-lg bg-base text-white shadow-md #{!important};
}

.bg-glow {
	background: radial-gradient(
				100% 915.19% at 100% 100%,
				rgba(219, 0, 255, 0.2) 0%,
				rgba(0, 0, 0, 0) 100%
			)
			/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
		radial-gradient(
				100% 915.19% at 0% 100%,
				rgba(0, 133, 255, 0.2) 0%,
				rgba(0, 0, 0, 0) 100%
			)
			/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
		radial-gradient(
				67.78% 171.19% at 100% 0%,
				rgba(0, 163, 255, 0.2) 0%,
				rgba(0, 0, 0, 0) 100%
			)
			/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
		radial-gradient(
				100% 297.98% at 0% 0%,
				rgba(0, 255, 194, 0.068) 0%,
				rgba(255, 255, 255, 0) 100%
			)
			/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.uv-glow {
	background: radial-gradient(
			100% 373.79% at 0% 0%,
			rgba(255, 184, 0, var(--uv-glow-opacity)) 0%,
			rgba(255, 153, 0, 0) 100%
		)
		rgba(108, 0, 81, 0.58);
}

.aq-glow {
	background: radial-gradient(
		373.79% 100% at 50% 0%,
		rgb(0, 255, 106, 0.5) 0%,
		rgba(0, 255, 106, 0) 100%
	);
}

.water {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	&_wave {
		width: 200%;
		position: absolute;
		bottom: 100%;
		scale: 1 1;
		transform-origin: bottom;
		&_back {
			scale: 2 3;
			margin-bottom: 0.5px;
			right: 0;
			animation: wave-back 3s infinite linear;
		}
		&_front {
			scale: 1 2;
			left: 0;
			margin-bottom: 0px;
			animation: wave-front 2s infinite linear;
		}
	}
}

@keyframes wave-front {
	100% {
		transform: translate(-50%, 0);
	}
}

@keyframes wave-back {
	100% {
		transform: translate(50%, 0);
	}
}

.light-line {
	background: conic-gradient(
			from 90deg at 70% 50%,
			#0f0236 0deg,
			#f4be88 360deg
		),
		conic-gradient(from -90deg at 30% 50%, #f4be88 0deg, #0f0236 360deg);

	mask-image: radial-gradient(50% 100% at center center, black, transparent);

	// transform: translateY(-200px) rotate(180deg) translateZ(0px);
	transform-origin: center center;
	background-repeat: no-repeat;
	background-clip: border-box border-box;
	background-attachment: scroll scroll;
	background-color: transparent;
	background-origin: padding-box padding-box;
	background-size: 50% 100%, 50% 100%;
	background-position-x: 0.01%, 99.99%;
	background-position-y: 0%, 0%;
}

.search-item:first-child > .seperator {
	display: none;
}

.light-line-uv {
	background: conic-gradient(
			from 90deg at 60% 50%,
			#0f023600 0deg,
			#0f023600 180deg,
			#c08a54 360deg
		),
		conic-gradient(
			from -90deg at 40% 50%,
			#d09e6c 0deg,
			#0f023600 180deg,
			#0f023600 360deg
		);

	-webkit-mask-image: radial-gradient(
		50% 50% at center center,
		black,
		transparent
	);
	mask-image: radial-gradient(50% 50% at center center, black, transparent);

	// transform: translateY(-200px) rotate(180deg) translateZ(0px);
	transform-origin: center center;
	background-repeat: no-repeat;
	background-clip: border-box border-box;
	background-attachment: scroll scroll;
	background-color: transparent;
	background-origin: padding-box padding-box;
	background-size: 50% 100%, 50% 100%;
	background-position-x: 0.05%, 99.95%;
	background-position-y: 0%, 0%;
}

.uv-beam {
	background-size: 100% 100%;
	background-position: 0px 0px;
	// background-image: conic-gradient(
	// 	from 0deg at 50% 50%,
	// 	#ffa70000 41%,
	// 	#ffecb9ff 50%,
	// 	#ffa70000 57%
	// );

	mask-image: radial-gradient(50% 50% at center center, black, transparent);
}

.radix-themes {
	--default-font-family: var(--font-mona-sans), sans-serif;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.tooltip {
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	/* will-change: transform, backdrop-filter; */
}

.tooltip[data-state="delayed-open"][data-side="top"] {
	animation-name: slideDownAndFade;
}
.tooltip[data-state="delayed-open"][data-side="right"] {
	animation-name: slideLeftAndFade;
}
.tooltip[data-state="delayed-open"][data-side="bottom"] {
	animation-name: slideUpAndFade;
}
.tooltip[data-state="delayed-open"][data-side="left"] {
	animation-name: slideRightAndFade;
}

@keyframes slideUpAndFade {
	from {
		opacity: 0;
		transform: translateY(2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRightAndFade {
	from {
		opacity: 0;
		left: -2px;
	}
	to {
		opacity: 1;
		left: 0;
	}
}

@keyframes slideDownAndFade {
	from {
		opacity: 0;
		top: -2px;
	}
	to {
		opacity: 1;
		top: 0;
	}
}

@keyframes slideLeftAndFade {
	from {
		opacity: 0;
		left: 2px;
	}
	to {
		opacity: 1;
		left: 0px;
	}
}
